
<div id="results">
  <h1><%= params['q'].capitalize %>:</h1>
  <p>Average: $<%= number_with_precision(@avgSale, :precision => 2) %></p>
  <p>Total Posts: <%= @objects.length() %> Total Sales: <%= @sales %></p>
  <p>Trending: <%= @trending %></p>
  
  <table class="table table-striped">
    <th>
      Image
    </th>
    <th>
      Title
    </th>
    <th>
      Sold
    </th>
    <th>
      Time
    </th>
    <th>
      Price
    </th>
    <th>
      Shipping
    </th>
    <% @objects.each do |object|%>
    <tr class="<%= cycle('even', 'odd') -%> <%= object["sellingStatus"].first["sellingState"].first %>" id="Posts">
      <td>
        <img src=<%= object["galleryURL"].first %> />
      </td>
      <td class="title">
        <a href=<%= object["viewItemURL"].first%> target="_blank"><%= object["title"].first %></a>
      </td>
      <td class="saleState ">
        <%= object["sellingStatus"].first["sellingState"].first %>
      </td>
      <td>
        <%= Date.parse(object["listingInfo"].first["endTime"].first) %>
      </td>
      <td class="price">
        $<%= object["sellingStatus"].first["convertedCurrentPrice"].first["__value__"] %>
      </td>
      <td class="shipping">
        <% if object["shippingInfo"].first["shippingServiceCost"] %>
          <%= object["shippingInfo"].first["shippingServiceCost"].first["__value__"] %>
        <% else %>
          missing
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>